/* Zoom In #1 */
.hover01 figure {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.reviewColor {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(36, 150, 63);
    color: rgb(255, 255, 255);
    height: 2.6rem;
    width: min-content;	
    padding: 0px 0.4rem;
    font-size: 15px;
    border-radius: 0.6rem;
    border: 1px solid rgb(36, 150, 63);
}